<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261849237371-tdjtont9659ptuefnlldflbj5qssu3o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261849237371-tdjtont9659ptuefnlldflbj5qssu3o2</string>
	<key>API_KEY</key>
	<string>AIzaSyD7k6YDhEshqCbyPlirDB3ATza4CJBVwxE</string>
	<key>GCM_SENDER_ID</key>
	<string>261849237371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kronicalsolutions.fplwordle</string>
	<key>PROJECT_ID</key>
	<string>fpl-wordle</string>
	<key>STORAGE_BUCKET</key>
	<string>fpl-wordle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261849237371:ios:dd910e828c9200fc1a1fde</string>
</dict>
</plist>